.container{
    max-width: 1920px;
    width: 100%;
    margin: 0,auto;
}
header{
    width: 100%;
     background-color: #262626;
     display: flex;
     padding-top: 51px;
     padding-left: 320px;
     padding-bottom: 51px;
     padding-right: 320px;
     position: fixed;
     top:0 ;
     max-width: inherit; width: inherit; 
     transform: translate();
}
ul{
    display: flex;
    gap: 68px;
    justify-content: space-between;
}
.hom{
    color: #DCB47A;
    font-size: 24px;
}
.shop{
    color: white;
    font-size: 24px;   
}
.about{
    color: white;
    font-size: 24px;
}
.contact{
    color: white;
    font-size: 24px;
}
.basket{
 padding-left: 260px;
}
.section1{
    margin: auto;
    
}
.img1{
    width: 100%;
    height: 100%;
    padding-top: 133px;
}
.text1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 80px;
    width: 1000px;
}
h1{
    color: #081323;
    font-size: 72px;
    padding-left: 320px;
    padding-top: 245px;
}
.cards{
    display: flex;
    justify-content: center;

}
.card{
    border: 2px solid #DCB47A;
    width: 390px;
    height: 388px;
    margin-top: 80px;
    margin-left: 50px;

}
.img2{
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
}
.modern{
    font-size: 24px;
    padding-top: 54px;
    padding-left: 40px;
    display: flex;
    
}
.fa-solid{
    display: flex;
  padding-left: 330px;
}
.price{
 padding-left: 40px;
 font-size: 16px;
}
h2{
    padding-top: 245px;
    padding-left: 322px;
    font-size: 75px;
    color: #081323;
}

.div1{
    display: flex;
}
.img5{
    padding-top: 67px;
    padding-left: 60px;
    display: flex;
    display: flex;
}
.img7{
   width: 522px;
   height: 310px;
   padding-top: 67px;
   padding-left: 20px;
}
.img8{
    width: 522px;
    height: 310px;
    padding-top: 67px;
    padding-left: 20px;  
}
